@charset "UTF-8";
@font-face {
  font-family: 'Montserrat', sans-serif; }
@font-face {
  font-family: 'Prata', serif; }
* {
  -webkit-transition: 0.5s;
  transition: 0.5s; }

body {
  margin: 0;
  background-color: #1a0500; }

img {
  display: block;
  border: 0;
  height: auto; }

body,
button,
select,
textarea {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 900px) and (max-width: 1199px) {
    body,
    button,
    select,
    textarea {
      font-size: 15px; } }
  @media (min-width: 899px) and (max-width: 600px) {
    body,
    button,
    select,
    textarea {
      font-size: 14px; } }
  @media (min-width: 299px) and (max-width: 599px) {
    body,
    button,
    select,
    textarea {
      font-size: 13px; } }

h1,
h2,
h3 {
  margin: 0; }

p {
  margin: 0;
  padding: 0 0 0.5em; }

a {
  text-decoration: none; }

a:focus, a:hover {
  text-decoration: none; }

ol, ul {
  list-style: none;
  padding: 0; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
.container {
  padding-left: 15%;
  padding-right: 15%; }

.title {
  font-family: 'Prata', serif;
  font-weight: lighter;
  font-size: 3em;
  color: white;
  padding: 0;
  line-height: 58px;
  margin-bottom: 20px; }
  @media (min-width: 900px) and (max-width: 1199px) {
    .title {
      font-size: 2.5em;
      line-height: 48px; } }
  @media (min-width: 899px) and (max-width: 600px) {
    .title {
      font-size: 2em;
      line-height: 38px; }
      .title br {
        content: ""; } }
  @media (min-width: 299px) and (max-width: 599px) {
    .title {
      font-size: 1.7em;
      line-height: 30px; }
      .title br {
        content: ""; } }

section {
  height: 80vh;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  overflow: hidden; }
  @media (min-width: 299px) and (max-width: 899px) {
    section {
      height: auto;
      border-bottom: 2px solid white;
      border-top: 2px solid white; } }

.btn {
  display: inline-block;
  font-size: 0.750em;
  padding: 16px 28px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  text-transform: uppercase; }
  .btn p {
    text-align: center; }

.btn:hover {
  background-color: white;
  color: #1a0500;
  padding: 16px 28px; }

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
.grid {
  display: grid;
  grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr; }
  @media (min-width: 360px) and (max-width: 899px) {
    .grid {
      grid-template-columns: repeat(8, 1fr);
      grid-template-rows: 1fr 1fr; } }

.header {
  padding: 2vh 0;
  background-color: white; }

.header-title {
  grid-column: 3/6;
  color: #9c172a;
  justify-self: center;
  font-size: 0.875em; }

.btn-head {
  grid-column: 6/8;
  justify-self: end;
  -ms-flex-item-align: center;
      align-self: center;
  color: #9c172a;
  border-top: 1px solid #9c172a;
  border-left: 1px solid #9c172a;
  border-bottom: 1px solid rgba(145, 24, 24, 0.5);
  border-right: 1px solid rgba(145, 24, 24, 0.5); }

@media (min-width: 299px) and (max-width: 899px) {
  .header {
    padding: 1vh 0 10vh; }

  .header-title {
    grid-column: 2/8;
    grid-row: 1;
    text-align: center; }
    .header-title br {
      content: ""; }

  .btn-head {
    grid-column: 2/8;
    grid-row: 2;
    justify-self: center;
    z-index: 999;
    margin-top: 20px; } }
.header-nav {
  background-color: #9c172a;
  color: white; }
  .header-nav .header-logo {
    grid-column: 2/3;
    -ms-flex-item-align: end;
        align-self: end;
    position: relative;
    height: 100%; }
    .header-nav .header-logo a img {
      position: absolute;
      bottom: 0;
      width: 100%; }
  .header-nav .head-nav-list {
    grid-column: 4/8; }
    .header-nav .head-nav-list ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .header-nav .head-nav-list ul li a {
        color: white;
        font-size: 1.125em; }
  @media (min-width: 299px) and (max-width: 899px) {
    .header-nav .header-logo {
      grid-column: 4/6;
      grid-row: 1; }
      .header-nav .header-logo a img {
        position: absolute;
        bottom: 0; }
    .header-nav .head-nav-list {
      grid-column: 2/8;
      font-size: 0.7em; }
      .header-nav .head-nav-list ul {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .header-nav .head-nav-list ul li {
          margin: 0 30px; } }

/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
footer {
  background-color: #1a0500;
  color: white;
  border-top: 1px solid white;
  padding: 1vh 0 2vh; }

.footer-nav {
  color: white;
  margin: 2vh 0; }
  .footer-nav .footer-nav-list {
    grid-column: 3/7;
    margin-left: 80px; }
    .footer-nav .footer-nav-list ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer-nav .footer-nav-list ul li a {
        color: white; }

.hr {
  grid-column: 3/8;
  width: 75%;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0 20px 80px; }

.footer-logo {
  grid-column: 2/3;
  -ms-flex-item-align: end;
      align-self: end;
  position: relative;
  height: 100%; }
  .footer-logo a img {
    position: absolute;
    bottom: 0;
    width: 100%; }

.footer-phone {
  grid-column: 2/8;
  grid-row: 1;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 0.81em;
  font-weight: 500;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }
  .footer-phone .footer-phone-item a {
    color: white;
    margin: 0 20px 20px; }

.copyright {
  margin-left: 80px;
  grid-column: 3/6;
  font-size: 0.750em;
  color: rgba(255, 255, 255, 0.6); }

.s-vita {
  grid-column: 6/9;
  font-size: 0.750em;
  color: rgba(255, 255, 255, 0.6); }
  .s-vita a {
    color: rgba(255, 255, 255, 0.6); }
    .s-vita a:hover {
      text-decoration: underline; }

@media (min-width: 299px) and (max-width: 899px) {
  .footer .footer-logo {
    grid-column: 4/6;
    grid-row: 1; }
  .footer .copyright {
    grid-column: 2/5;
    grid-row: 4;
    margin: 0; }
  .footer .s-vita {
    grid-column: 5/8;
    grid-row: 4; }
  .footer .hr {
    grid-column: 2/8;
    width: 100%;
    grid-row: 3;
    margin-left: 0;
    margin-top: 20px; }
  .footer .footer-phone {
    grid-column: 2/8;
    width: 100%;
    grid-row: 2;
    margin-left: 0;
    margin-top: 20px;
    display: block;
    text-align: center; }
    .footer .footer-phone .footer-phone-item a {
      margin: 0 0 20px; }

  .footer-nav .footer-nav-list {
    grid-row: 1;
    grid-column: 2/8;
    font-size: 0.7em;
    margin: 0; } }
/*--------------------------------------------------------------
Первый блок
--------------------------------------------------------------*/
#offer {
  background-image: url("../img/offer.png");
  background-size: cover;
  display: grid; }
  #offer .offer-content {
    -ms-flex-item-align: center;
        align-self: center; }
    #offer .offer-content .btn {
      margin: 25px 0 30px; }
  @media (min-width: 299px) and (max-width: 1999px) {
    #offer {
      padding-top: 40px;
      min-height: 80vh; } }

/*--------------------------------------------------------------
form
--------------------------------------------------------------*/
#form-certificate {
  background-color: #1a0500;
  background-image: url("../img/certificate.png");
  background-position: right;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: lighter;
  height: auto; }
  #form-certificate .contact-form {
    -ms-flex-item-align: center;
        align-self: center;
    background-color: #1a0500;
    color: white;
    border: 1px solid #9c172a;
    padding: 1vh 0 2vh;
    width: 30%;
    padding: 50px 70px;
    margin: auto 0; }
    #form-certificate .contact-form .contact-form__title {
      font-size: 1.88em;
      margin-bottom: 5px; }
    #form-certificate .contact-form ul {
      list-style: none;
      padding: 35px 0 17px;
      margin: 0; }
    #form-certificate .contact-form hr {
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom-width: 0; }
    #form-certificate .contact-form .contact-form__description {
      margin-bottom: 15px; }
    #form-certificate .contact-form .select {
      text-align: left;
      color: white;
      margin-top: 5px;
      margin-bottom: 10px; }
    #form-certificate .contact-form .btn {
      width: 93%;
      margin-top: 25px;
      text-align: center; }
    #form-certificate .contact-form .contact-form__input_email,
    #form-certificate .contact-form .contact-form__input_tel,
    #form-certificate .contact-form .contact-form__input_name {
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgba(255, 255, 255, 0.35);
      height: 55px;
      padding-left: 20px;
      margin-bottom: 15px;
      outline: none; }
    #form-certificate .contact-form .contact-form__input-wrapper {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex; }
    #form-certificate .contact-form input::-webkit-input-placeholder {
      color: rgba(255, 255, 255, 0.6); }
    #form-certificate .contact-form input:-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.6); }
    #form-certificate .contact-form input::-ms-input-placeholder {
      color: rgba(255, 255, 255, 0.6); }
    #form-certificate .contact-form input::placeholder {
      color: rgba(255, 255, 255, 0.6); }
    #form-certificate .contact-form input[type="radio"] {
      display: none; }
    #form-certificate .contact-form input[type="radio"] + label {
      color: rgba(255, 255, 255, 0.6);
      margin-right: 30px;
      font-family: 'Prata', serif; }
    #form-certificate .contact-form input[type="radio"] + label span {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: -5px 10px 0 0;
      vertical-align: middle;
      border: 1px solid white;
      border-radius: 100%;
      cursor: pointer; }
    #form-certificate .contact-form input[type="radio"]:checked + label span::after {
      content: '';
      background-color: white;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      position: absolute;
      margin: 2px; }
    @media (min-width: 999px) and (max-width: 1381px) {
      #form-certificate .contact-form {
        width: 40%; }
        #form-certificate .contact-form .contact-form__title {
          font-size: 1.7em;
          line-height: 28px; }
        #form-certificate .contact-form .contact-form__description, #form-certificate .contact-form .select {
          font-size: 0.8em; } }
    @media (min-width: 299px) and (max-width: 899px) {
      #form-certificate .contact-form {
        width: 85%;
        margin: 0 auto;
        height: 90%;
        padding: 25px 35px; }
        #form-certificate .contact-form .contact-form__title {
          font-size: 1.5em;
          line-height: 28px; }
        #form-certificate .contact-form .contact-form__description, #form-certificate .contact-form .select {
          font-size: 0.8em; }
        #form-certificate .contact-form input[type="radio"] + label {
          margin-right: 60%; }
        #form-certificate .contact-form ul {
          padding: 20px 14px 14px; }
        #form-certificate .contact-form .contact-form__input_email,
        #form-certificate .contact-form .contact-form__input_tel,
        #form-certificate .contact-form .contact-form__input_name {
          height: 35px; }
        #form-certificate .contact-form .contact-form__input-wrapper {
          display: block; }
        #form-certificate .contact-form .btn {
          width: 80%; } }

/*--------------------------------------------------------------
Общий стиль для блоков со слайдерами
--------------------------------------------------------------*/
.withSlider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  overflow: hidden; }
  .withSlider .description {
    width: 60%;
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0 4vw;
    background-size: cover;
    z-index: 999; }
    .withSlider .description .content {
      -ms-flex-item-align: end;
          align-self: flex-end; }
      .withSlider .description .content .title {
        margin-bottom: 0; }
      .withSlider .description .content p {
        margin: 30px 0; }
      .withSlider .description .content ul {
        list-style: disc;
        padding: 17px;
        margin: 0; }
        .withSlider .description .content ul p {
          margin: 0; }
      .withSlider .description .content .btn {
        margin-bottom: 60px; }
  .withSlider .slider-wrapper {
    width: 39%;
    height: 80vh;
    position: relative; }
    .withSlider .slider-wrapper .slider-item img {
      width: auto;
      height: 100%; }

@media (min-width: 300px) and (max-width: 750px) {
  .withSlider {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    .withSlider .description {
      width: 100%;
      border: none !important;
      height: 80vh; }
      .withSlider .description .content {
        -ms-flex-item-align: center;
            align-self: center;
        padding: 20px; }
        .withSlider .description .content .btn {
          margin-bottom: 0px; }
    .withSlider .slider-wrapper {
      width: 100%;
      border: none !important;
      height: 50vh; }
      .withSlider .slider-wrapper .slider-item img {
        width: 100%;
        height: auto; } }
.slider-arrows {
  width: 130px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40% 0 0 40%;
  position: absolute;
  top: 40%;
  color: white;
  font-size: 5em;
  font-weight: 300; }
  .slider-arrows img {
    width: auto;
    margin-top: 30px; }

.arrow-next {
  right: -40px; }
  .arrow-next img {
    padding-left: 35px; }

.arrow-prev {
  left: -40px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg); }
  .arrow-prev img {
    padding-left: 30px; }

.arrow-next:hover {
  right: -20px;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.5); }

.arrow-prev:hover {
  left: 0px;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.5); }

#shirts .description {
  background-image: url("../img/shirts.png");
  border-right: 4px solid white; }
#shirts .slider-wrapper {
  border-left: 4px solid white; }

#suits .description {
  background-image: url("../img/suits.png");
  border-left: 4px solid white; }
#suits .slider-wrapper {
  border-right: 4px solid white; }

#accessories .description {
  background-image: url("../img/acss.png");
  border-right: 4px solid white;
  text-align: center; }
  #accessories .description .content {
    margin: 0 auto; }
    #accessories .description .content .title {
      margin-bottom: 25px; }
#accessories .slider-wrapper {
  border-left: 4px solid white; }
#accessories .slider-wrapper img {
  width: auto; }

#gift .description {
  background-image: url("../img/gift.png");
  border-left: 4px solid white;
  text-align: center; }
  #gift .description .content {
    margin: 0 auto; }
#gift .slider-wrapper {
  border-right: 4px solid white; }
