@charset "UTF-8";
@font-face {
  font-family: 'Montserrat', sans-serif; }
@font-face {
  font-family: 'Prata', serif; }
body {
  margin: 0;
  background-color: white;
  min-width: 299px; }

img {
  display: block;
  border: 0;
  height: auto; }

body,
button,
select,
textarea {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5; }
  @media (min-width: 900px) and (max-width: 1199px) {
    body,
    button,
    select,
    textarea {
      font-size: 15px; } }
  @media (min-width: 899px) and (max-width: 600px) {
    body,
    button,
    select,
    textarea {
      font-size: 14px; } }
  @media (min-width: 299px) and (max-width: 599px) {
    body,
    button,
    select,
    textarea {
      font-size: 13px; } }

h1,
h2,
h3 {
  margin: 0; }

p {
  margin: 0;
  padding: 0 0 0.5em; }

a {
  text-decoration: none; }

a:focus, a:hover {
  text-decoration: none; }

ol, ul {
  list-style: none;
  padding: 0; }

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important; }

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/
.container {
  padding-left: 15%;
  padding-right: 15%; }

@media (min-width: 899px) and (max-width: 1345px) {
  .container {
    padding-left: 5%;
    padding-right: 2%; } }
.title {
  font-family: 'Prata', serif;
  font-weight: lighter;
  font-size: 3em;
  color: white;
  padding: 0;
  line-height: 58px;
  margin-bottom: 20px; }
  @media (min-width: 900px) and (max-width: 1199px) {
    .title {
      font-size: 2.5em;
      line-height: 48px; } }
  @media (min-width: 899px) and (max-width: 600px) {
    .title {
      font-size: 2em;
      line-height: 38px; }
      .title br {
        content: ""; } }
  @media (min-width: 299px) and (max-width: 599px) {
    .title {
      font-size: 1.7em;
      line-height: 30px; }
      .title br {
        content: ""; } }

section {
  height: auto;
  border-bottom: 4px solid white;
  border-top: 4px solid white;
  overflow: hidden; }
  @media (min-width: 299px) and (max-width: 899px) {
    section {
      height: auto;
      border-bottom: 2px solid white;
      border-top: 2px solid white; } }

@media screen and (min-height: 980px) and (max-height: 3000px) {
  .description {
    height: 47vh !important; }

  .slider-wrapper {
    height: 47vh !important; } }
.btn {
  display: inline-block;
  font-size: 0.750em;
  padding: 16px 28px;
  border-top: 1px solid white;
  border-left: 1px solid white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  color: white;
  text-transform: uppercase;
  transition: 0.5s; }
  .btn p {
    text-align: center; }

.btn:hover {
  background-color: white;
  color: #1a0500;
  padding: 16px 28px; }

/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
header {
  margin-top: 25px; }

@media (min-width: 299px) and (max-width: 899px) {
  header {
    margin-top: 60px; } }
.grid-header {
  display: grid;
  grid-template-columns: 15% 243px repeat(21, 1fr); }
  @media (min-width: 899px) and (max-width: 1345px) {
    .grid-header {
      grid-template-columns: 5% 200px repeat(21, 1fr); } }
  @media (min-width: 299px) and (max-width: 899px) {
    .grid-header {
      grid-template-columns: repeat(4, 1fr) 243px repeat(4, 1fr);
      grid-template-rows: 100px 1fr; } }

.header {
  padding: 2vh 0;
  background-color: white; }

@media (min-width: 299px) and (max-width: 899px) {
  .header {
    display: none; } }
.header-title {
  grid-column: 4/22;
  color: #9c172a;
  justify-self: start;
  font-size: 0.8em;
  z-index: 999;
  text-align: left;
  font-weight: 500;
  text-transform: uppercase; }

.header-nav {
  background-color: #9c172a;
  color: white; }
  .header-nav .header-logo {
    grid-column: 2;
    align-self: end;
    position: relative;
    height: 110%;
    cursor: pointer;
    background-color: white; }
    .header-nav .header-logo a img {
      position: absolute;
      bottom: 15px;
      width: 200px;
      left: 50%;
      margin-left: -100px; }
    @media (min-width: 899px) and (max-width: 1345px) {
      .header-nav .header-logo a img {
        width: 180px;
        left: 50%;
        margin-left: -90px; } }
  .header-nav .head-nav-list {
    grid-column: 4/24;
    overflow-x: hidden; }
    .header-nav .head-nav-list ul {
      display: flex;
      width: 100%;
      flex-wrap: nowrap; }
      .header-nav .head-nav-list ul li a {
        color: white;
        font-size: 1.125em;
        margin-left: 55px; }
  .header-nav .head-nav-contact {
    grid-column: 4/19;
    text-align: center; }
    .header-nav .head-nav-contact .item-center {
      margin: 0 auto; }
      .header-nav .head-nav-contact .item-center a {
        margin: 0; }
  @media (min-width: 899px) and (max-width: 1345px) {
    .header-nav .head-nav-list ul li {
      margin: 0 15px; }
      .header-nav .head-nav-list ul li a {
        margin: 0; } }
  @media (min-width: 299px) and (max-width: 899px) {
    .header-nav .header-logo {
      grid-column: 5/6;
      grid-row: 1; }
    .header-nav .head-nav-list {
      grid-column: 2/9; }
      .header-nav .head-nav-list ul {
        flex-wrap: wrap;
        justify-content: center; }
        .header-nav .head-nav-list ul li {
          margin: 0 20px; }
          .header-nav .head-nav-list ul li a {
            margin: 0; } }

/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/
footer {
  background-color: #1a0500;
  color: white;
  border-top: 1px solid white;
  padding-top: 3vh; }

.grid-footer {
  display: grid;
  grid-template-columns: 15% 201px repeat(15, 1fr);
  grid-template-rows: 1fr 1fr; }
  @media (min-width: 299px) and (max-width: 899px) {
    .grid-footer {
      grid-template-columns: repeat(4, 1fr) 150px repeat(4, 1fr);
      grid-template-rows: 2fr 1fr; } }

.footer-nav {
  color: white;
  margin: 2vh 0; }
  .footer-nav .footer-nav-list {
    grid-column: 4/12;
    grid-row: 1; }
    .footer-nav .footer-nav-list ul {
      display: flex;
      width: 100%;
      margin: 0;
      justify-content: space-between; }
      .footer-nav .footer-nav-list ul li a {
        color: white; }
  @media (min-width: 899px) and (max-width: 1390px) {
    .footer-nav .footer-nav-list {
      grid-column: 4/16; }
      .footer-nav .footer-nav-list ul {
        flex-wrap: wrap; } }

.footer-phone {
  grid-column: 8/12;
  grid-row: 1;
  justify-self: end;
  font-size: 0.81em;
  font-weight: 500; }
  .footer-phone .footer-phone-item a {
    color: white; }
  @media (min-width: 899px) and (max-width: 1390px) {
    .footer-phone {
      grid-column: 2/16; } }
  @media (min-width: 299px) and (max-width: 899px) {
    .footer-phone {
      grid-column: 2/9;
      text-align: center;
      grid-row: 3;
      justify-self: center;
      margin: 10px 0 20px 0; } }

.hr {
  grid-column: 4/12;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  margin-top: 20px; }
  @media (min-width: 899px) and (max-width: 1390px) {
    .hr {
      grid-column: 4/16; } }
  @media (min-width: 299px) and (max-width: 899px) {
    .hr {
      grid-column: 2/9; } }

.footer-logo {
  grid-column: 2/3;
  grid-row: 1;
  align-self: end;
  position: relative;
  height: 100%;
  cursor: pointer; }
  .footer-logo a img {
    position: absolute;
    bottom: 0;
    width: 100%; }

.copyright {
  grid-row: 1;
  grid-column: 4/8;
  font-size: 0.750em;
  color: rgba(255, 255, 255, 0.6); }
  .copyright a {
    color: rgba(255, 255, 255, 0.6); }
    .copyright a:hover {
      text-decoration: underline; }

@media (min-width: 299px) and (max-width: 899px) {
  .footer .footer-logo {
    grid-column: 5;
    grid-row: 1; }
    .footer .footer-logo a img {
      position: relative;
      bottom: 0;
      width: 100%; }
  .footer .copyright {
    grid-column: 2/9;
    grid-row: 2;
    margin-top: 10px;
    text-align: center; }

  .footer-nav .footer-nav-list {
    grid-row: 1;
    grid-column: 2/9;
    margin: 0; }
    .footer-nav .footer-nav-list ul {
      flex-wrap: wrap;
      justify-content: center; }
      .footer-nav .footer-nav-list ul li {
        margin: 0 30px; } }
/*--------------------------------------------------------------
Первый блок
--------------------------------------------------------------*/
#offer {
  background-image: url("../img/offer.png");
  background-size: cover;
  display: grid;
  border-top: 2px solid white; }
  #offer .offer-content {
    align-self: center; }
    #offer .offer-content .btn {
      margin: 25px 0 30px; }
  @media (min-width: 299px) and (max-width: 3999px) {
    #offer {
      padding-top: 40px;
      min-height: 80vh; } }

/*--------------------------------------------------------------
form
--------------------------------------------------------------*/
#form-certificate {
  background-color: #1a0500;
  background-image: url("../img/certificate.png");
  background-position: right;
  background-size: auto 100%;
  background-repeat: no-repeat;
  padding: 20px;
  display: flex;
  font-weight: lighter;
  height: auto; }
  #form-certificate .contact-form {
    align-self: center;
    background-color: #1a0500;
    color: white;
    border: 1px solid #eecf82;
    padding: 1vh 0 2vh;
    width: 407px;
    padding: 50px 70px;
    margin: auto 0; }
    #form-certificate .contact-form .contact-form__title {
      font-size: 1.88em;
      margin-bottom: 5px; }
    #form-certificate .contact-form ul {
      list-style: none;
      padding: 35px 0 17px;
      margin: 0; }
    #form-certificate .contact-form hr {
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-bottom-width: 0; }
    #form-certificate .contact-form .contact-form__description {
      margin-bottom: 15px; }
    #form-certificate .contact-form .select {
      text-align: left;
      color: white;
      margin-top: 5px;
      margin-bottom: 10px; }
    #form-certificate .contact-form .btn-wrap {
      width: 100%; }
    #form-certificate .contact-form .btn {
      padding: 16px 0;
      width: 100%;
      margin-top: 25px;
      text-align: center;
      background-color: #bba15f;
      border: 1px solid #bba15f; }
      #form-certificate .contact-form .btn:hover {
        background-color: white;
        border: 1px solid white; }
    #form-certificate .contact-form .contact-form__input_email,
    #form-certificate .contact-form .contact-form__input_tel,
    #form-certificate .contact-form .contact-form__input_name {
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid rgba(255, 255, 255, 0.35);
      height: 55px;
      padding-left: 20px;
      margin-bottom: 15px;
      outline: none; }
    #form-certificate .contact-form .contact-form__input-wrapper {
      display: inline-flex; }
    #form-certificate .contact-form input::placeholder {
      color: rgba(255, 255, 255, 0.6); }
    #form-certificate .contact-form input[type="radio"] {
      display: none; }
    #form-certificate .contact-form input[type="radio"] + label {
      color: rgba(255, 255, 255, 0.6);
      margin-right: 30px;
      font-family: 'Prata', serif; }
    #form-certificate .contact-form input[type="radio"] + label span {
      display: inline-block;
      width: 10px;
      height: 10px;
      margin: -5px 10px 0 0;
      vertical-align: middle;
      border: 1px solid white;
      border-radius: 100%;
      cursor: pointer; }
    #form-certificate .contact-form input[type="radio"]:checked + label span::after {
      content: '';
      background-color: white;
      width: 6px;
      height: 6px;
      border-radius: 100%;
      position: absolute;
      margin: 2px; }
    @media (min-width: 299px) and (max-width: 899px) {
      #form-certificate .contact-form {
        width: 85%;
        margin: 0 auto;
        height: 90%;
        padding: 25px 20px; }
        #form-certificate .contact-form .contact-form__title {
          font-size: 1.5em;
          line-height: 28px; }
        #form-certificate .contact-form .contact-form__description, #form-certificate .contact-form .select {
          font-size: 1em; }
        #form-certificate .contact-form input[type="radio"] + label {
          margin-right: 60%; }
        #form-certificate .contact-form ul {
          padding: 20px 14px 14px; }
        #form-certificate .contact-form .contact-form__input_email,
        #form-certificate .contact-form .contact-form__input_tel,
        #form-certificate .contact-form .contact-form__input_name {
          height: 35px; }
        #form-certificate .contact-form .contact-form__input-wrapper {
          display: block; } }

/*--------------------------------------------------------------
Общий стиль для блоков со слайдерами
--------------------------------------------------------------*/
.withSlider {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  overflow: hidden; }
  .withSlider .description {
    width: 60%;
    height: 80vh;
    display: flex;
    padding: 0 4vw;
    background-size: cover;
    z-index: 999; }
    .withSlider .description .content {
      align-self: flex-end; }
      .withSlider .description .content .title {
        margin-bottom: 0; }
      .withSlider .description .content p {
        margin: 30px 0; }
      .withSlider .description .content ul {
        list-style: disc;
        padding: 17px;
        margin: 0; }
        .withSlider .description .content ul p {
          margin: 0; }
      .withSlider .description .content .btn {
        margin-bottom: 60px; }
  .withSlider .slider-wrapper {
    width: 39%;
    height: 80vh;
    position: relative;
    background-color: #1a0500; }
    .withSlider .slider-wrapper .slider-item img {
      width: auto;
      height: 100%; }

@media (min-width: 300px) and (max-width: 750px) {
  .withSlider {
    flex-wrap: wrap; }
    .withSlider .description {
      width: 100%;
      border: none !important;
      height: 80vh; }
      .withSlider .description .content {
        align-self: center;
        padding: 20px; }
        .withSlider .description .content .btn {
          margin-bottom: 0px; }
    .withSlider .slider-wrapper {
      width: 100%;
      border: none !important;
      height: 46vh;
      max-height: 757px; }
      .withSlider .slider-wrapper .slider-item img {
        width: 100%;
        height: auto; } }
@media (min-width: 1955px) and (max-width: 8000px) {
  .withSlider .slider-wrapper .slider-item img {
    width: 100%;
    height: auto; } }
/*--------------------------------------------------------------
Стрелки для слайдера
--------------------------------------------------------------*/
.slider-arrows {
  width: 130px;
  height: 100px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 40% 0 0 40%;
  position: absolute;
  top: 40%;
  color: white;
  font-size: 5em;
  font-weight: 300;
  transition: 0.5s; }
  .slider-arrows img {
    width: auto;
    margin-top: 30px; }

.arrow-next {
  right: -40px; }
  .arrow-next img {
    padding-left: 35px; }

.arrow-prev {
  left: -40px;
  transform: rotate(180deg); }
  .arrow-prev img {
    padding-left: 30px; }

.arrow-next:hover {
  right: -20px;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.5); }

.arrow-prev:hover {
  left: 0px;
  width: 130px;
  background-color: rgba(0, 0, 0, 0.5); }

#shirts .description {
  background-image: url("../img/shirts.png");
  border-right: 4px solid white; }
#shirts .slider-wrapper {
  border-left: 4px solid white; }

#suits .description {
  background-image: url("../img/suits.png");
  border-left: 4px solid white; }
#suits .slider-wrapper {
  border-right: 4px solid white; }

#accessories .description {
  background-image: url("../img/acss.png");
  border-right: 4px solid white;
  text-align: center; }
  #accessories .description .content {
    margin: 0 auto; }
    #accessories .description .content .title {
      margin-bottom: 25px; }
#accessories .slider-wrapper {
  border-left: 4px solid white; }
#accessories .slider-wrapper img {
  width: auto; }
@media (min-width: 1955px) and (max-width: 8000px) {
  #accessories .slider-wrapper img {
    width: 100%; } }

#gift .description {
  background-image: url("../img/gift.png");
  border-left: 4px solid white;
  text-align: center; }
  #gift .description .content {
    margin: 0 auto; }
#gift .slider-wrapper {
  border-right: 4px solid white; }

/*--------------------------------------------------------------
Стрелки вверх-вниз
--------------------------------------------------------------*/
.arrows-up-down {
  position: fixed;
  right: 35px;
  bottom: 50px;
  width: 45px;
  height: 100px;
  z-index: 9999;
  cursor: pointer;
  transition: 0.5s;
  border: 1px solid white;
  border-radius: 20px; }
  .arrows-up-down .arr-up {
    width: 45px;
    height: 50px; }
    .arrows-up-down .arr-up img {
      transform: rotate(-90deg);
      width: 15px;
      position: absolute;
      left: 15px;
      top: 10px; }
  .arrows-up-down .arr-down {
    width: 45px;
    height: 50px; }
    .arrows-up-down .arr-down img {
      transform: rotate(90deg);
      width: 15px;
      position: absolute;
      left: 15px;
      top: 60px; }

.parking {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.4em;
  color: #9c172a; }

#contact {
  height: auto;
  color: black;
  font-size: 1.2em;
  padding-top: 60px; }
  #contact .contact-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  #contact .title {
    color: black;
    font-size: 2.1em;
    line-height: 1.2em; }
    @media (min-width: 1265px) {
      #contact .title br {
        content: ""; } }
    @media (min-width: 768px) and (max-width: 1024px) {
      #contact .title {
        font-size: 2em; } }
  #contact .city {
    width: calc(50% - 16px); }
    #contact .city p {
      margin-bottom: 14px; }
    #contact .city a {
      color: black;
      display: block;
      margin-bottom: 18px; }
    #contact .city i {
      color: #9c172a;
      margin-right: 10px;
      font-size: 1em; }
    #contact .city .photo-salon {
      min-height: 238px;
      width: 100%;
      margin-top: 32px; }
    #contact .city .map {
      margin-top: 32px;
      width: 100%; }
      #contact .city .map iframe {
        width: 100%;
        min-height: 238px; }
  @media (min-width: 299px) and (max-width: 899px) {
    #contact .city {
      width: 100%;
      margin-bottom: 32px; } }

#room1 {
  background-image: url("../img/room1.png");
  background-size: cover; }

#room2 {
  background-image: url("../img/room2.png");
  background-size: cover; }

.payment-container {
  display: flex;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 13.58px 0.42px rgba(0, 0, 0, 0.11);
  margin: 3% 5% 1%;
  padding: 20px;
  flex-wrap: wrap; }
  .payment-container .payment-form__title {
    color: black;
    font-family: 'Prata', serif;
    font-size: 2.188em;
    padding: 0;
    line-height: 58px;
    margin-bottom: 20px;
    text-align: center; }
  .payment-container .payment-container__img {
    width: 100vw; }
    .payment-container .payment-container__img .img__form-img {
      width: 100%;
      display: none; }
    .payment-container .payment-container__img .img__logo img {
      width: 200px;
      margin: 0 auto 40px; }
  .payment-container .payment-container__payment-form {
    width: 100%; }
    .payment-container .payment-container__payment-form .btn-wrap {
      text-align: center; }
    .payment-container .payment-container__payment-form .payment-form__button {
      background-color: #bba15f;
      cursor: pointer;
      padding: 20px 0;
      width: 100%;
      max-width: 377px; }
    .payment-container .payment-container__payment-form .payment-form__input-wrapper .payment-form__input {
      display: flex;
      width: 100%;
      height: 48px;
      border: 1px solid #b2b2b2;
      margin-bottom: 20px;
      padding-left: 20px;
      box-sizing: border-box; }
    .payment-container .payment-container__payment-form .payment-form__radio-wrapper {
      margin-bottom: 20px; }
      .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio {
        font-family: 'Prata', serif;
        display: inline-flex;
        margin-right: 40px; }
        .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio input, .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio input:focus, .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio input:active {
          color: black;
          border: 1px solid #b2b2b2;
          padding-left: 10px;
          font-family: 'Prata', serif; }
          .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio input::placeholder, .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio input:focus::placeholder, .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio input:active::placeholder {
            color: #b2b2b2; }
        .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio input[type="radio"] {
          display: none; }
        .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio input[type="radio"] + label {
          color: black;
          font-family: 'Prata', serif; }
        .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio input[type="radio"] + label span {
          display: inline-block;
          width: 10px;
          height: 10px;
          margin: -5px 10px 0 0;
          vertical-align: middle;
          border: 1px solid black;
          border-radius: 100%;
          cursor: pointer; }
        .payment-container .payment-container__payment-form .payment-form__radio-wrapper .radio input[type="radio"]:checked + label span::after {
          content: '';
          background-color: black;
          width: 6px;
          height: 6px;
          border-radius: 100%;
          position: absolute;
          margin: 2px; }
    .payment-container .payment-container__payment-form .checks {
      /* прячем input checkbox */
      margin-bottom: 20px;
      /* стили для метки */
      /* формируем внешний вид чекбокса в псевдоэлементе before */
      /* вариации внешнего вида в зав-ти от статуса checkbox */
      /* checked */
      /* disabled */ }
      .payment-container .payment-container__payment-form .checks input[type="checkbox"] {
        display: none; }
      .payment-container .payment-container__payment-form .checks label {
        color: #000;
        cursor: default;
        padding: 10px 0;
        vertical-align: middle;
        font-size: 0.875em; }
      .payment-container .payment-container__payment-form .checks label:before {
        content: " ";
        color: #000;
        display: inline-block;
        margin-right: 15px;
        position: relative;
        text-align: center;
        text-indent: 0px;
        width: 15px;
        height: 15px;
        border: 1px solid black;
        border-image: initial;
        vertical-align: middle;
        line-height: 15px; }
      .payment-container .payment-container__payment-form .checks input:checked + label:before {
        content: "\2714";
        background: black;
        color: white; }
      .payment-container .payment-container__payment-form .checks input:disabled + label:before {
        background: #eee;
        color: #aaa; }

@media (min-width: 769px) {
  .payment-container {
    flex-wrap: nowrap;
    padding: 40px; }

  .payment-container__img {
    width: 50vw; }
    .payment-container__img .img__form-img {
      display: block !important; }

  .payment-container__payment-form {
    width: 50vw;
    padding-left: 40px; }
    .payment-container__payment-form .payment-form__input-wrapper {
      display: flex;
      margin-right: -20px; }
      .payment-container__payment-form .payment-form__input-wrapper .payment-form__input {
        width: 50%;
        margin-right: 20px;
        height: 59px; }
      .payment-container__payment-form .payment-form__input-wrapper .radio {
        display: inline;
        margin-right: 50px; } }

/*# sourceMappingURL=style.css.map */
