@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }

  @mixin for-tablet-portait-only {
    @media (min-width: 600px) and (max-width: 899px) { @content; }
  }
  @mixin for-tablet-landscape-only {
    @media (min-width: 900px) and (max-width: 1199px) { @content; }
  }
  @mixin for-desktop-only {
    @media (min-width: 1200px) and (max-width: 1799px) { @content; }
  }
 
  

@font-face {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Prata', serif;
}


*{transition: 0.5s;}

body {
    margin: 0;
    background-color: #1a0500;
}

img {
	display: block;
	border: 0;
	height: auto;
}

body,
button,
select,
textarea {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
    line-height: 1.5;
    
    @media (min-width: 900px) and (max-width: 1199px)  {  
        font-size: 15px;
    }
    @media (min-width: 899px) and (max-width: 600px)  {  
        font-size: 14px;
    }
    @media (min-width: 299px) and (max-width: 599px)  {  
        font-size: 13px;
    }
}

h1,
h2,
h3 {
	margin: 0;
}

p {
	margin: 0;
	padding: 0 0 0.5em;
}

a {
    text-decoration: none;
}
a:focus, a:hover {
    text-decoration: none;
}
ol, ul {
    list-style: none; 
    padding:0;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}


$MandarianOrange: #9c172a;

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

.container {
    padding-left: 15%;
    padding-right: 15%;
}


.title {
    font-family: 'Prata', serif;
    font-weight: lighter;
    font-size: 3em;
    color: white;
    padding: 0;
    line-height: 58px;
    margin-bottom: 20px;
    @media (min-width: 900px) and (max-width: 1199px)  {  
        font-size: 2.5em;
        line-height: 48px;
    }
    @media (min-width: 899px) and (max-width: 600px)  {  
        font-size: 2em;
        line-height: 38px;
        br {
            content: "";
        }
    }
    @media (min-width: 299px) and (max-width: 599px)  {  
        font-size: 1.7em;
        line-height: 30px;
        br {
            content: "";
        }
    }
}

section {
    height: 80vh;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    overflow: hidden;
    @media (min-width: 299px) and (max-width: 899px)  { 
        height: auto;  
        border-bottom: 2px solid white;
        border-top: 2px solid white;
    }
    
}

.btn {
    display: inline-block;
    font-size: 0.750em;
    padding: 16px 28px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .5);
    color: white;
    text-transform: uppercase;
    p {
        text-align: center;
    }
}
.btn:hover{
    background-color: white;
    color: #1a0500;
    padding: 16px 28px;
}


/*--------------------------------------------------------------
header
--------------------------------------------------------------*/

.grid {
    display: grid;
    grid-template-columns: 1fr repeat(6, minmax(auto, 10em)) 1fr;
    @media (min-width: 360px) and (max-width: 899px)  {  
        grid-template-columns: repeat(8,  1fr);
        grid-template-rows:  1fr 1fr;
    }
}

.header {
    padding: 2vh 0; 
    background-color: white;
}


.header-title {
    grid-column: 3/6;
    color: $MandarianOrange;
    text-align: center;
    justify-self: center;
    font-size: 0.875em;

}

.header-phone {
    grid-column: 6/8;
    justify-self: end;
    align-self: center;
    font-size: 0.81em;
    font-weight: 500;
    .header-phone-item a{ color: $MandarianOrange; }
}

@media (min-width: 360px) and (max-width: 899px)  { 
    .header {
        padding: 1vh 0 10vh;
    } 
    .header-title {
        grid-column: 2/8;
        grid-row: 1;
        br {
            content: "";
        }
    }
    .header-phone {
        grid-column: 2/8;
        grid-row: 2;
        text-align: center;
        justify-self: center;
        z-index: 999;
    }
}

.header-nav {
    background-color: $MandarianOrange;
    color: white;

    .header-logo {
        grid-column: 2/3;
        align-self: end;
        position: relative;
        height: 100%;
        a img{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }
    .head-nav-list {
        grid-column: 4/8;
        
        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            li a {
                color: white;
                font-size: 1.125em;
            } 
        }

    }

    @media (min-width: 360px) and (max-width: 899px)  {  
        .header-logo {
            grid-column: 4/6;
            grid-row: 1;
            a img{
                position: absolute;
                bottom: 0;
            }
        }
        .head-nav-list {
            grid-column: 2/8;
            font-size: 0.7em;
        }
    }
}

/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/

footer {
    background-color: #1a0500;
    color: white;
    border-top: 1px solid white;
    padding: 1vh 0 2vh;
}
.footer-nav  {
    color: white;
    margin: 2vh 0; 
    .footer-nav-list {
        grid-column: 3/7;
        margin-left: 80px;
        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            li a {
                color: white;
            } 
        }

    }
}
.hr {
    grid-column: 3/8;
    width: 75%;
    border-top: 1px solid rgba(255, 255, 255, .3);
    margin-bottom: 20px;
    margin-left: 80px;
}
.footer-logo {
    grid-column: 2/3;
    align-self: end;
    position: relative;
    height: 100%;
    a img{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}
.copyright {
    margin-left: 80px;
    grid-column: 3/6;
    font-size: 0.750em;
    color: rgba(255, 255, 255, .6);
}

.s-vita {
    grid-column: 6/9;
    font-size: 0.750em;
    color: rgba(255, 255, 255, .6);
    a {
        color: rgba(255, 255, 255, .6);
        &:hover {
            text-decoration: underline;
        } 
    }
}
@media (min-width: 360px) and (max-width: 899px)  { 
    .footer {
        .footer-logo{
            grid-column: 4/6;
            grid-row: 1;
        }  
        .copyright {
            grid-column: 2/5;
            grid-row: 2;
            margin: 0;
        }  
        .s-vita {
            grid-column: 5/8;
            grid-row: 2;  
        }    
    }

    .footer-nav {
        .footer-nav-list {
            grid-row: 2;
            grid-column: 2/8;
            font-size: 0.7em;
            margin:  0;       
        }
    }
 }
/*--------------------------------------------------------------
Первый блок
--------------------------------------------------------------*/

#offer {
    background-image: url('../img/offer.png');
    background-size: cover;
    display: grid;
    .offer-content {
        align-self: center;
        .btn {
            margin: 25px 0 30px;
        }
    }
    @media (min-width: 299px) and (max-width: 1999px)  {  
        padding-top: 40px;
        min-height: 80vh;
    }
}

/*--------------------------------------------------------------
form
--------------------------------------------------------------*/

#form-certificate {
    background-color: #1a0500;
    background-image: url('../img/certificate.png');
    background-position: right;
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    font-weight: lighter;
    height: auto;
    .contact-form {
        align-self: center;
        background-color: #1a0500;
        color: white;
        border: 1px solid rgba(255, 255, 255, .5);
        padding: 1vh 0 2vh;
        width: 30%;
        // text-align: center;
        padding: 50px 70px;
        margin: auto 0; 

        .contact-form__title {
            font-size: 1.88em;
            margin-bottom: 5px;
        }
        ul {
            list-style: disc;
            padding: 17px; 
            margin:0;
        }  
        hr {
            border: 1px solid rgba(255, 255, 255, .3);
            border-bottom-width: 0;
        }
        .contact-form__description {
            margin-bottom: 15px;
        }
        .select {
            text-align: left;
            // color: rgba(255, 255, 255, .6);
            color: white;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .btn{
            width: 93%;
            margin-top: 25px;
            text-align: center;
        }

        .contact-form__input_email,
        .contact-form__input_tel,
        .contact-form__input_name {
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid rgba(255, 255, 255, .35);
            height: 55px;
            padding-left: 20px;
            margin-bottom: 15px;
            outline:none;
        }

        input::placeholder {
            color: rgba(255, 255, 255, .6);
        }

        input[type="radio"] {
            display:none;
        }
        
        input[type="radio"] + label {
            color: rgba(255, 255, 255, .6);
            margin-right: 30px;
            font-family: 'Prata', serif;
        }
        
        input[type="radio"] + label span {
            display:inline-block;
            width:10px;
            height:10px;
            margin:-5px 10px 0 0;
            vertical-align:middle;
            border: 1px solid white;
            border-radius: 100%;
            cursor:pointer;
        }
        
        input[type="radio"]:checked + label span::after {
            content: '';
            background-color: white;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            position: absolute;
            margin: 2px;
        }

        @media (min-width: 999px) and (max-width: 1381px)  {  
            width: 40%; 
            .contact-form__title {
                font-size: 1.7em;
                line-height: 28px;

            }
            .contact-form__description, .select {
                font-size: 0.8em;
            }
        }
        @media (min-width: 360px) and (max-width: 899px)  {  
            width: 60%; 
            margin: 0 auto;
            height: 90%;

            .contact-form__title {
                font-size: 1.5em;
                line-height: 28px;
            }
            .contact-form__description, .select {
                font-size: 0.8em;
            }

            .contact-form__input_email,
            .contact-form__input_tel,
            .contact-form__input_name {
                height: 35px;
            }
            .btn {
                width: 84%;
            }
        }
    }

} 
/*--------------------------------------------------------------
Общий стиль для блоков со слайдерами
--------------------------------------------------------------*/
.withSlider {
    display: flex;
    flex-wrap: nowrap; 
    width: 100%;
    overflow: hidden;
    .description {
        width: 60%;
        height: 80vh;
        display: flex;
        padding: 0 4vw;
        background-size: cover;
        z-index: 999;
        .content {
         align-self: flex-end;
         .title {
             margin-bottom: 0;
         }       
         p{
             margin: 30px 0;
         }    
            ul {
                list-style: disc;
                padding: 17px; 
                margin:0;
                p{
                    margin: 0;
                } 
            }  
            .btn {
                margin-bottom: 60px;
            } 
        }
    }
    .slider-wrapper {
        width: 39%;
        height: 80vh;
        position: relative;

        .slider-item img {
            width: auto;
            height: 100%;
        }
        
    }
}

@media (min-width: 300px) and (max-width: 750px)  { 
    .withSlider{
        flex-wrap: wrap;
        height: 47vh;
        .description {
            width: 100%;
            border: none!important;
            height: 47vh;
            .content {
                align-self: center;
                .btn {
                    margin-bottom: 0px;
                }
            }
        }
        .slider-wrapper {
            width: 100%;
            border: none!important;
            height: 47vh;
            .slider-item img {
                width: 100%;
                height: auto;
            }
        }
    }  
}

@media (min-width: 299px) and (max-width: 599px)  {  
}

.slider-arrows {
    width: 130px;
    height: 100px;
    background-color: rgba(0,0,0,0);
    border-radius: 40% 0 0 40%;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 5em;
    font-weight: 300;
    img {
        width: auto;
        margin-top: 30px;
    }
}

.arrow-next{
    right: -40px;
    img{
        padding-left: 35px;
    }
}
.arrow-prev{
    left: -40px;
    transform: rotate(180deg);

    img{
        padding-left: 30px;
    }
}
.arrow-next:hover {
    right: -20px;
    width: 130px;
    background-color: rgba(0,0,0,.5);
}

.arrow-prev:hover {
    left: 0px;
    width: 130px;
    background-color: rgba(0,0,0,.5);
}

#shirts {
    .description {
        background-image: url('../img/shirts.png');
        border-right: 4px solid white;
    }
    .slider-wrapper {
        border-left: 4px solid white;
    }
}

#suits {
    .description {
        background-image: url('../img/suits.png');
        border-left: 4px solid white;
    }
    .slider-wrapper {
        border-right: 4px solid white;
    }
}

#accessories {
    .description {
        background-image: url('../img/acss.png');
        border-right: 4px solid white;
        text-align: center;
        .content {
            margin: 0 auto; 
            .title {
                margin-bottom: 25px;
            }
        }
    }
    .slider-wrapper {
        border-left: 4px solid white;
    }
    .slider-wrapper img{ width: auto;}


}

#gift {
    .description {
        background-image: url('../img/gift.png');
        border-left: 4px solid white;
        text-align: center;
        .content {
            margin: 0 auto; 
        }
    }
    .slider-wrapper {
        border-right: 4px solid white;
    }
}
#arrow-prev1{
    display: none!important;
}

#arrow-next2{
    display: none!important;
}

#arrow-prev3{
    display: none!important;
}
#arrow-next4{
    display: none!important;
}

