@font-face {
    font-family: 'Montserrat', sans-serif;
}

@font-face {
    font-family: 'Prata', serif;
}

@media screen and (min-height: 980px) and (max-height: 2000px)  {
    section {
        height: auto!important;
    }
    .description {
        height: 47vh!important;
    }
    .slider-wrapper {
        height: 47vh!important;
    }
 }


body {
    margin: 0;
    background-color: white;
}

img {
	display: block;
	border: 0;
	height: auto;
}

body,
button,
select,
textarea {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
    line-height: 1.5;
    
    @media (min-width: 900px) and (max-width: 1199px)  {  
        font-size: 15px;
    }
    @media (min-width: 899px) and (max-width: 600px)  {  
        font-size: 14px;
    }
    @media (min-width: 299px) and (max-width: 599px)  {  
        font-size: 13px;
    }
}

h1,
h2,
h3 {
	margin: 0;
}

p {
	margin: 0;
	padding: 0 0 0.5em;
}

a {
    text-decoration: none;
}
a:focus, a:hover {
    text-decoration: none;
}
ol, ul {
    list-style: none; 
    padding:0;
}
textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}


$MandarianOrange: #9c172a;

/*--------------------------------------------------------------
General styles
--------------------------------------------------------------*/

.container {
    padding-left: 15%;
    padding-right: 15%;
}


.title {
    font-family: 'Prata', serif;
    font-weight: lighter;
    font-size: 3em;
    color: white;
    padding: 0;
    line-height: 58px;
    margin-bottom: 20px;
    @media (min-width: 900px) and (max-width: 1199px)  {  
        font-size: 2.5em;
        line-height: 48px;
    }
    @media (min-width: 899px) and (max-width: 600px)  {  
        font-size: 2em;
        line-height: 38px;
        br {
            content: "";
        }
    }
    @media (min-width: 299px) and (max-width: 599px)  {  
        font-size: 1.7em;
        line-height: 30px;
        br {
            content: "";
        }
    }
}

section {
    height: 80vh;
    border-bottom: 4px solid white;
    border-top: 4px solid white;
    overflow: hidden;
    @media (min-width: 299px) and (max-width: 899px)  { 
        height: auto;  
        border-bottom: 2px solid white;
        border-top: 2px solid white;
    }
    
}

.btn {
    display: inline-block;
    font-size: 0.750em;
    padding: 16px 28px;
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
    border-right: 1px solid rgba(255, 255, 255, .5);
    color: white;
    text-transform: uppercase;
    transition: 0.5s;
    p {
        text-align: center;
    }
}
.btn:hover{
    background-color: white;
    color: #1a0500;
    padding: 16px 28px;
}


/*--------------------------------------------------------------
header
--------------------------------------------------------------*/
@media (min-width: 299px) and (max-width: 899px)  {  
    header {
        margin-top: 60px;
    }
    
}
.grid-header {
    display: grid;
    grid-template-columns: 15% 243px repeat(21, 1fr) 15%;
    // @media (min-width: 899px) and (max-width: 1328px)  { 
    //     grid-template-columns: 15% 180px repeat(11, 1fr) 15%;
    // }
    @media (min-width: 299px) and (max-width: 899px)  {  
        grid-template-columns: repeat(4,  1fr) 243px repeat(4,  1fr);;
        grid-template-rows: 100px 1fr;
    }
}


.header {
    padding: 2vh 0; 
    background-color: white;
}

.header-title {
    grid-column: 4/22;
    color: $MandarianOrange;
    justify-self: start;
    font-size: 0.8em;
    z-index: 999;
    text-align: center;
    font-weight: 600;

}



@media (min-width: 299px) and (max-width: 899px)  { 
    .header {
        display: none;
    } 

    // .header-title {
    //     grid-column: 2/8;
    //     grid-row: 1;
    //     text-align: center;
    //     br {
    //         content: "";
    //     }
    // }
}

.header-nav {
    background-color: $MandarianOrange;
    color: white;

    .header-logo {
        grid-column: 2;
        align-self: end;
        position: relative;
        height: 100%;
        cursor: pointer;
        a img{
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    }

    .head-nav-list {
        grid-column: 4/20;
        
        ul {
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-left: 25px;
            li a {
                color: white;
                font-size: 1.125em;
                margin: 0 0 0 0;
            } 
        }
    }
    @media (min-width: 299px) and (max-width: 899px)  {  
        .header-logo {
            grid-column: 5/6;
            grid-row: 1;
            a img{
                position: absolute;
                bottom: 0;
            }
        }

        .head-nav-list {
            grid-column: 2/9;

            ul {
                flex-wrap: wrap;
                justify-content: center;
                li {
                    margin: 0 30px;
                }
            }
        }
    }

    @media (min-width: 899px) and (max-width: 1328px)  { 
        .head-nav-list {
            ul {
                flex-wrap: wrap;
            }
        }
    }
}

/*--------------------------------------------------------------
footer
--------------------------------------------------------------*/

footer {
    background-color: #1a0500;
    color: white;
    border-top: 1px solid white;
    padding-top: 3vh;
}

.grid-footer {
    display: grid;
    grid-template-columns: 15% 201px repeat(11, 1fr) 15%;
    grid-template-rows: 1fr 1fr;
    @media (min-width: 299px) and (max-width: 899px)  {  
        grid-template-columns: repeat(4,  1fr) 150px repeat(4,  1fr);;
        grid-template-rows: 2fr 1fr;
    }
}

.footer-nav  {
    color: white;
    margin: 2vh 0; 

    .footer-nav-list {
        grid-column: 4/12;
        grid-row: 1;
        ul {
            display: flex;
            width: 100%;
            margin:0;
            justify-content: space-between;
            li a {
                color: white;
            } 
        }
    }

    @media (min-width: 899px) and (max-width: 1328px)  { 
        .footer-nav-list {
            ul {
                flex-wrap: wrap;
            }
        }
    }
}

.footer-phone {
    grid-column: 8/12;
    grid-row: 1;
    justify-self: end;
    font-size: 0.81em;
    font-weight: 500;
    .footer-phone-item a { 
        color: white;
     }

     @media (min-width: 299px) and (max-width: 899px)  { 
        grid-column: 2/9;
        text-align: center;
        grid-row: 3;
        justify-self: center;
        margin: 10px 0 20px 0;

    }    
}

.hr {
    grid-column: 4/12;
    border-top: 1px solid rgba(255, 255, 255, .3);
    margin-top: 20px;
    @media (min-width: 299px) and (max-width: 899px)  { 
        grid-column: 2/9;
    }


}

.footer-logo {
    grid-column: 2/3;
    align-self: end;
    position: relative;
    height: 100%;
    cursor: pointer;
    a img{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}


.copyright {
    grid-row: 1;
    grid-column: 4/8;
    font-size: 0.750em;
    color: rgba(255, 255, 255, .6);
        a {
        color: rgba(255, 255, 255, .6);
        &:hover {
            text-decoration: underline;
        } 
    }
}


@media (min-width: 299px) and (max-width: 899px)  { 
    .footer {
        .footer-logo {
            grid-column: 5;
            grid-row: 1;
            a img{
                position: relative;
                bottom: 0;
                width: 100%;
            }
        }  
        .copyright {
            grid-column: 2/9;
            grid-row: 2;
            margin-top: 10px;
            text-align: center;
        }  
    }

    .footer-nav {
        .footer-nav-list {
            grid-row: 1;
            grid-column: 2/9;
            font-size: 0.7em;
            margin:  0;  
            ul {
                flex-wrap: wrap;
                justify-content: center;
                li {
                    margin: 0 15px;
                }
            }
        }
    }
 }
/*--------------------------------------------------------------
Первый блок
--------------------------------------------------------------*/

#offer {
    background-image: url('../img/offer.png');
    background-size: cover;
    display: grid;
    .offer-content {
        align-self: center;
        .btn {
            margin: 25px 0 30px;
        }
    }
    @media (min-width: 299px) and (max-width: 1999px)  {  
        padding-top: 40px;
        min-height: 80vh;
    }
}

/*--------------------------------------------------------------
form
--------------------------------------------------------------*/

#form-certificate {
    background-color: #1a0500;
    background-image: url('../img/certificate.png');
    background-position: right;
    background-size: auto 100%;
    background-repeat: no-repeat;
    padding: 20px;
    display: flex;
    font-weight: lighter;
    height: auto;

    .contact-form {
        align-self: center;
        background-color: #1a0500;
        color: white;
        border: 1px solid #eecf82;
        padding: 1vh 0 2vh;
        width: 30%;
        // text-align: center;
        padding: 50px 70px;
        margin: auto 0; 

        .contact-form__title {
            font-size: 1.88em;
            margin-bottom: 5px;
        }
        ul {
            list-style: none;
            padding: 35px 0 17px; 
            margin:0;
        }  
        hr {
            border: 1px solid rgba(255, 255, 255, .3);
            border-bottom-width: 0;
        }
        .contact-form__description {
            margin-bottom: 15px;
        }
        .select {
            text-align: left;
            // color: rgba(255, 255, 255, .6);
            color: white;
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .btn{
            width: 93%;
            margin-top: 25px;
            text-align: center;
            background-color: #bba15f;
            border: 1px solid #bba15f;
            &:hover {
                background-color: white;
                border: 1px solid white;
            }
        }

        .contact-form__input_email,
        .contact-form__input_tel,
        .contact-form__input_name {
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            border: 1px solid rgba(255, 255, 255, .35);
            height: 55px;
            padding-left: 20px;
            margin-bottom: 15px;
            outline:none;
        }

        .contact-form__input-wrapper {
            display: inline-flex; 
        }

        input::placeholder {
            color: rgba(255, 255, 255, .6);
        }

        input[type="radio"] {
            display:none;
        }
        
        input[type="radio"] + label {
            color: rgba(255, 255, 255, .6);
            margin-right: 30px;
            font-family: 'Prata', serif;
        }
        
        input[type="radio"] + label span {
            display:inline-block;
            width:10px;
            height:10px;
            margin:-5px 10px 0 0;
            vertical-align:middle;
            border: 1px solid white;
            border-radius: 100%;
            cursor:pointer;
        }
        
        input[type="radio"]:checked + label span::after {
            content: '';
            background-color: white;
            width: 6px;
            height: 6px;
            border-radius: 100%;
            position: absolute;
            margin: 2px;
        }

        @media (min-width: 999px) and (max-width: 1381px)  {  
            width: 40%; 
            .contact-form__title {
                font-size: 1.7em;
                line-height: 28px;

            }
            .contact-form__description, .select {
                font-size: 0.8em;
            }
        }
        @media (min-width: 299px) and (max-width: 899px)  {  
            width: 85%; 
            margin: 0 auto;
            height: 90%;
            padding: 25px 35px;

            .contact-form__title {
                font-size: 1.5em;
                line-height: 28px;
            }
            .contact-form__description, .select {
                font-size: 0.8em;

            }
            
            input[type="radio"] + label {
                margin-right: 60%;
            }

            ul {
                padding: 20px 14px 14px; 
            }
            .contact-form__input_email,
                .contact-form__input_tel,
                .contact-form__input_name {
                    height: 35px;
            }

            .contact-form__input-wrapper {
                   display: block; 
            }

            .btn {
                width: 80%;
            }
        }
    }
} 
/*--------------------------------------------------------------
Общий стиль для блоков со слайдерами
--------------------------------------------------------------*/
.withSlider {
    display: flex;
    flex-wrap: nowrap; 
    width: 100%;
    overflow: hidden;
    .description {
        width: 60%;
        height: 80vh;
        display: flex;
        padding: 0 4vw;
        background-size: cover;
        z-index: 999;
        .content {
         align-self: flex-end;
         .title {
             margin-bottom: 0;
         }       
         p{
             margin: 30px 0;
         }    
            ul {
                list-style: disc;
                padding: 17px; 
                margin:0;
                p{
                    margin: 0;
                } 
            }  
            .btn {
                margin-bottom: 60px;
            } 
        }
    }
    .slider-wrapper {
        width: 39%;
        height: 80vh;
        position: relative;
        background-color: #1a0500;

        .slider-item img {
            width: auto;
            height: 100%;
        }
        
    }
}

@media (min-width: 300px) and (max-width: 750px)  { 
    .withSlider{
        flex-wrap: wrap;
        // height: 94vh;
        .description {
            width: 100%;
            border: none!important;
            height: 80vh;
            .content {
                align-self: center;
                padding: 20px;
                .btn {
                    margin-bottom: 0px;
                }
            }
        }
        .slider-wrapper {
            width: 100%;
            border: none!important;
            height: 46vh;
            max-height: 757px;
            .slider-item img {
                width: 100%;
                height: auto;
            }
        }
    }  
}

/*--------------------------------------------------------------
Стрелки для слайдера
--------------------------------------------------------------*/

.slider-arrows {
    width: 130px;
    height: 100px;
    background-color: rgba(0,0,0,0);
    border-radius: 40% 0 0 40%;
    position: absolute;
    top: 40%;
    color: white;
    font-size: 5em;
    font-weight: 300;
    transition: 0.5s;
    img {
        width: auto;
        margin-top: 30px;
    }
}

.arrow-next{
    right: -40px;
    img{
        padding-left: 35px;
    }
}
.arrow-prev{
    left: -40px;
    transform: rotate(180deg);

    img{
        padding-left: 30px;
    }
}
.arrow-next:hover {
    right: -20px;
    width: 130px;
    background-color: rgba(0,0,0,.5);
}

.arrow-prev:hover {
    left: 0px;
    width: 130px;
    background-color: rgba(0,0,0,.5);
}

#shirts {
    .description {
        background-image: url('../img/shirts.png');
        border-right: 4px solid white;
    }
    .slider-wrapper {
        border-left: 4px solid white;
    }
}

#suits {
    .description {
        background-image: url('../img/suits.png');
        border-left: 4px solid white;
    }
    .slider-wrapper {
        border-right: 4px solid white;
    }
}

#accessories {
    .description {
        background-image: url('../img/acss.png');
        border-right: 4px solid white;
        text-align: center;
        .content {
            margin: 0 auto; 
            .title {
                margin-bottom: 25px;
            }
        }
    }
    .slider-wrapper {
        border-left: 4px solid white;
    }
    .slider-wrapper img{ width: auto;}


}

#gift {
    .description {
        background-image: url('../img/gift.png');
        border-left: 4px solid white;
        text-align: center;
        .content {
            margin: 0 auto; 
        }
    }
    .slider-wrapper {
        border-right: 4px solid white;
    }
}

/*--------------------------------------------------------------
Стрелки вверх-вниз
--------------------------------------------------------------*/
.arrows-up-down {
    position: fixed;
    right: 35px;
    bottom: 50px;
    width: 45px;
    height: 100px;
    z-index: 9999;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid white;
    border-radius: 20px;

    .arr-up{
        width: 45px;
        height: 50px;
        img{
            transform: rotate(-90deg);
            width: 15px;
            position: absolute;
            left: 15px;
            top: 10px;

        }
    }

    .arr-down {
        width: 45px;
        height: 50px;
        img{
            transform: rotate(90deg);
            width: 15px;
            position: absolute;
            left: 15px;
            top: 60px;
        }
    }
    &:hover{

    }
}
// #arrow-prev1{
//     display: none!important;
// }

// #arrow-next2{
//     display: none!important;
// }

// #arrow-prev3{
//     display: none!important;
// }
// #arrow-next4{
//     display: none!important;
// }

